body {
  margin: 0;
}

/* ANIMATION LOADER */

.loader {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 995;
  animation: loader 2s linear forwards;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-animations {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px #f9f9f9;
  border-top: solid 10px #9356DC;
  border-bottom: solid 10px #FF79DA;
  animation: spin 2s linear forwards;
}

@keyframes loader {

  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes spin {

  0% {
    visibility: visible;
    transform: rotate(0deg);
  }

  100% {
    visibility: hidden;
    transform: rotate(360deg);
  }
}


@media (max-width: 768px) {
  main {

    overflow-x: hidden;
  }
}

main {
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}




@media (max-width: 767px) {

  .container {
    width: 90%;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {

  .home,
  .menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
  }
}


body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-size: 24px;
}


h2 {
  font-size: 16px;
  color: rgb(77, 77, 77);
}


h3 {
  font-size: 24px;
}

h4 {


  font-size: 24px;
}

h5 {
  font-size: medium;
  padding-left: 46%;
}

@media (max-width:767px) {

  h5 {
    font-size: medium;
    padding-left: 30%;
  }

}

@media (min-width:768px) and (max-width:992px) {

  h5 {
    font-size: medium;
    padding-left: 40%;
  }

}

.shrikhand {
  /*Logo police*/
  font-family: "Shrikhand", sans-serif;
  font-size: 17px;
}


.rob-weight-700 {
  /*Polices*/
  font-weight: 700;
}

.rob-weight-900 {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
  font-size: medium;
  background-color: #fff;

}

.rob-weight-900 {

  font-size: medium;
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 30px;

}


.text-center {
  text-align: center;
}

.text-center-lg {
  text-align: center;
}




@keyframes disapear {

  /*Animations*/
  0% {
    opacity: 1;
    height: 100vh;
  }

  90% {
    opacity: 1;
  }

  99.9999% {
    height: 100vh;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}


.btn-rose {
  /*Bouton rose explorer pour "effet transparence"*/


  overflow: hidden;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  color: white;
  font-size: small;
  padding: 13px;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px lightgrey;
  width: 100%;
  max-width: 250px;
  align-self: center;
  cursor: pointer;
}

.btn-rose:after {
  /*Bouton rose explorer pour "effet dégradé*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 10rem;
  z-index: -2;
}


/* ANIMATIONS DES */

@keyframes bgcolor {
  0% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0) 0%, rgba(187, 98, 219, 0) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  30% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.452) 0%, rgba(187, 98, 219, 0.452) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  50% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.582) 0%, rgba(186, 98, 219, 0.582) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  60% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.747) 0%, rgba(187, 98, 219, 0.74) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  80% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.918) 0%, rgba(187, 98, 219, 0.836) 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    background: -webkit-linear-gradient(13deg, rgba(255, 121, 217, 0.918) 0%, rgba(187, 98, 219, 0.836) 0%);
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.fa-heart {
  font-size: 1.3em;
  position: absolute;

}

.heart-recette {

  margin-top: 15px;

}

.heart-acceuil {

  position: absolute;
  right: 40px;
  bottom: 35px;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
  font-weight: lighter;

}


.fa-heart:hover {
  animation: bgcolor 0.5s;
  font-weight: 900;
  background: -webkit-linear-gradient(13deg, #ff79da 0%);
  color: transparent;
  -webkit-text-fill-color: #ba62db;
  cursor: pointer;
}

/* FONCTIONNEMENT */


.fonctionnement {
  /*Fond des blocs de "fonctionnement"*/
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 300ms;
  position: relative;
  margin-left: 16px;
}

.fonctionnement i {
  color: rgb(126, 126, 126);
}

.fonctionnement:hover {
  background-color: #f2eafb;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.fonctionnement:hover i {
  color: #9356DC;
}

.fonctionnement span {
  position: absolute;
  left: -16px;
  background-color: #9356DC;
  color: white;
  border-radius: 1000px;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement div {
  font-size: 16px;
}




/* Tout le HEADER */

header {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: black 0px 0px 10px;
  z-index: 50;
  top: 0;
}


.logo {
  font-size: 36px;
  padding: 8px;
}

.contenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(white, #eaeaea);
}

@media (max-width : 768px) {
  .column_header_acceuil {
    display: flex;
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

@media (min-width : 993px) {
  .column_header_acceuil {
    display: flex;
    flex-direction: column;
    margin: 68px;
  }
}


.recherche {
  display: flex;
}

.justify-center {
  display: flex;
  flex-direction: column;

}


.item-center {
  display: flex;
  align-items: center;
}

.home,
.menu {

  display: flex;
  gap: 5px;

}


.width {
  /*Position des blocs de fonctionnement*/
  padding-left: 1em;
  padding-right: 1em;
}

.height {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}



.marginleft {

  padding-right: 2em;
  width: 500px;
}


.horizontal {
  /*Position horizontal , longeur , bouton*/
  padding-left: 3.5em;
  padding-right: 3.5em;
}


.vertical {
  /*Position , espaces entre "fonctionnement et restaurants*/
  padding-top: 3em;

  padding-bottom: 3em;
}




.espacesi {
  /*Position horizontal des blocs fonctionnement*/
  margin-left: 1em;
  margin-right: 1em;
}

.espacesvertical {
  /*Position vertical des blocs fonctionnement*/
  margin-bottom: 20px;
  margin: 14px;
  width: 89%;
}



.recherche {
  /*Rechercher*/
  background-color: rgb(234, 234, 234);
  display: flex;
}

.recherche form {
  margin: auto;
  width: 100%;
}

.recherche form i {
  position: absolute;
  top: 96px;
  padding-left: 43%;
  z-index: 10;
  color: #242424;
}


/* FOOTER */

footer {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  font-size: smaller;
  padding: 20px;
}

footer a {
  color: white;
  margin: 3px;
}

footer i {
  color: white;
}



/* SECTIONS */

.section-1 {
  background-color: #f6f6f6;
}

.bloc_gris_restau {
  background-color: rgb(246, 246, 246);
  padding-left: 4px;
  padding-right: 4px;
}




.fonctionnement p {
  font-size: 20px;
}

.bloc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  transition: 0.4s;
  border-radius: 20px;
  position: relative;

}

.bloc img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;

}



img {
  border-radius: 5px 5px 0 0;
  height: 170px;
}


.bloc-titre {
  font-size: 18px;
  font-weight: 900;
  padding-left: 15px;
}

.new {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99E2D0;
  color: #278870;
  padding: 0.5em;
  border-radius: 6px;
}

.new:hover {
  background-color: #71d7be;
  color: #1b6150;
}


.fa-arrow-left {
  /*Flèche icône*/
  position: absolute;
  position: relative;
  top: 30px;
  position: relative;
  right: 50px;
}

@media (min-width: 992px) {

  /*POSITION TABLETTE*/
  .bloc_column {
    flex: 1 2 420px;
  }

  .flex-total {
    flex: 1 400px;
  }

  .flex-total {
    flex: 2 800px;
  }
}


@media (min-width: 992px) {

  /*Flèche icône*/
  .fa-arrow-left {
    display: none;
  }
}

.entete-restau {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -10;
}

.entete-restau img {
  height: 400px;
  object-fit: cover;
}

.page-restau {
  margin-top: 300px;
  border-radius: 40px 40px 0 0;
  background-color: rgb(246, 246, 246);
  z-index: 10;
  font-size: smaller;
}

.page-restaufinal {
  margin-top: 300px;
  border-radius: 40px 40px 0 0;
  background-color: rgb(246, 246, 246);
  z-index: 10;
  font-size: smaller;
  padding: 0 30px;
}

.page-restaufinal .container-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px 0;
}

.titre-restau {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  margin: 0;
}




.positiontitres {

  width: 40px;
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  text-decoration-thickness: 3px;
  text-transform: uppercase;
}



.menu-bloc {
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 20%);
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}


.texte {
  background: #fff;
  overflow: hidden;
  height: 69px;
  padding-left: 13px;
  width: 100%;
}

.texte p {
  overflow: hidden;
  margin: 8px;
}

.texteacceuil {
  padding-left: 15px;
  position: relative;
  bottom: 30px;
}




/* ANIMATIONS */

.animation1 {
  animation: bloc 300ms 300ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

/* ANIMATIONS BLOCS */

.animation2 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    600ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation3 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    900ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation4 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    1200ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation5 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    1500ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation6 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    1800ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation7 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    2100ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation8 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    2400ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation9 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    2700ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation10 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    3000ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation11 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    3300ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation12 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    3600ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.animation13 {
  animation: bloc 300ms
    /*300ms d'écart pour chaque blocs*/
    3900ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}


/* ANIMATIONS Checkbox*/


.animation15 {
  transform: translateX(0px);
  background-color: #99e2d0;
  cursor: pointer;
  color: #f6f6f6;
  transition-duration: 5s;


}


/* Animations bloc */

@keyframes bloc {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Animations checkbox  */



.fa-check-circle {
  color: #fff;
  font-size: 36px;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  line-height: 50px;

}

.menu-bloc:hover .check {
  width: 6em;
}


.check {
  display: flex;
  width: 0;
  transition: all 500ms;
  overflow: hidden;

}

.checkbox {

  color: #fff;
  transition: transform 500ms;
  overflow: hidden;
  width: 77px;


}




@keyframes checkbox {
  50% {
    transform: translateX(10px)
  }
}